.charsheet {
  font-family: 'Times New Roman', Times, serif;
}

.charsheet table {
    width: 100%;
}
.charsheet td {
  padding: 0px 2px 0px 2px;  
  border: 1px solid #000;
  vertical-align: text-top;
}

.charsheet th {
  padding: 5px;  
  border: 0 solid #000;
  background-color: #6d2b35;
  color: #FFF
}
.sheet-image{
  float: left;
}

/* Les cercles */
.sheet-contenant-cercle{
  clear: both;
  position:relative;
  top:0px;
  left:0px;
  height: 525px;
  width:565px;
  border: 1px solid green;
}

.sheet-circle-muscle{
  position:absolute;
  top:0px;
  left:150px;
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}
.sheet-circle-mojo{
  position:absolute;
  top:0px;
  left:300px;
  width:110px;
  height:110px;
  border-radius:50%;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-toughness{
  position:absolute;
  top:80px;
  left:50px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-guts{
  position:absolute;
  top:80px;
  left:400px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-physical-damage{
  position:absolute;
  top:160px;
  left:150px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-mental-damage{
  position:absolute;
  top:160px;
  left:300px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-social-damage{
  position:absolute;
  top:270px;
  left:225px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-dexterity{
  position:absolute;
  top:190px;
  left:0px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-brains{
  position:absolute;
  top:190px;
  left:450px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-mug{
  position:absolute;
  top:300px;
  left:70px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-chutzpah{
  position:absolute;
  top:300px;
  left:380px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}

.sheet-circle-cool{
  position:absolute;
  top:410px;
  left:225px;  
  border-radius:50%;
  width:110px;
  height:110px;
  border:1px solid #000; 
  text-align: center;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
}
/* Fin des cercles */

input[type="text"] {
  background-color: transparent;
  border: 0 solid #000;
  border-bottom-width: 1px;
  border-left-width: 1px;  
  height:15px;
}

input[type="number"] {
  background-color: transparent;
  /*border: 0 solid #000;*/

}

input[type="text"]:read-only, input[type="number"]:read-only {
  background-color: #d9d9d9;
}

select {
  background-color: transparent;
  border: 0 solid #000;
  border-bottom-width: 1px;
  border-left-width: 1px;  
  height:20px;
  font-size: 12px;
}
.sheet-titre{
  font-size: 150%;
  font-weight: bold;  
}


.sheet-attribut{
  font-size: 105%;
  font-weight: bold;  
}

.sheet-attribut2{
  font-size: 105%;
  font-weight: bold;  
  color: #ccc;
}

.sheet-mini{
  font-size: 75%;
  color: #ccc;
}

