.charsheet {
  font-family: 'Times New Roman', Times, serif;
}

.charsheet table {
    width: 100%;
}
.charsheet td {
  padding: 0px 2px 0px 2px;  
  border: 0px solid #000;
  vertical-align: text-top;
}

.charsheet th {
  padding: 5px;  
  border: 0 solid #000;
  background-color: #6d2b35;
  color: #FFF
}
