.charsheet {
  font-family: 'Times New Roman', Times, serif;
  background: url('https://github.com/DiChim/Roll20-encours/raw/master/Shaan/shaan_bg.jpg');

}

input[type="number"] {
  background-color: transparent;
}


.charsheet table {
    width: 100%;
}
.charsheet td {
  padding: 0px 2px 0px 2px;  
  border: 1px solid red;
  vertical-align: text-top;
}

.charsheet th {
  padding: 5px;  
  border: 0 solid #000;
  background-color: #6d2b35;
  color: #FFF
}

img {
  vertical-align:top;
}


input[type="number"].sheet-ame-base{
  border:none;
  /*border-bottom: 2px solid #6793BA;*/
  color:#6793BA;
  font-size: 25px;
  height:30px;
  width:60px;
  font-style:bold;
}

input[type="number"].sheet-ame{
  border:none;
  border-bottom: 2px solid #6793BA;
  color:#6793BA;;
}

.sheet-contenant-cercle{
  clear: both;
  position:relative;
  top:0px;
  left:0px;
  width: 740px;
  border: 0px solid green;
}

.sheet-cercle{
  position:absolute;
  top:0px;
  left:70px;
  width: 660px;
  border: 2px solid green;
}

.sheet-art{
  position:absolute;
  top:46px;
  left:100px;
  text-align: center;
}

.sheet-art-base{
  position:absolute;
  top:65px;
  left:145px;
  text-align: center;
}

